<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments :: head"> </head>
  <body>

  <header class="header--main-page">
    <nav th:insert="fragments :: afterLogin"></nav>
  </header>

<div class="container">
       <div>
         <h1>Lista Organizacji:</h1>
       </div>
       <div>
         <a th:href="@{/addinstitution}" class="">Dodaj Nową Organizację</a>
       </div>
       <table class="tab">
         <thead class="">
         <tr>
           <th scope="col">#</th>
           <th scope="col">Nazwa</th>
           <th scope="col">Profil Działalności</th>
           <th scope="col" class="text-center">Akcja</th>
         </tr>
         </thead>
         <tbody>
         <tr th:each="insitution, stat: ${institutionAll}">
           <th scope="row" th:text="${stat.index+1}"></th>
           <td th:text="${insitution.name}"></td>
           <td th:text="${insitution.description}"></td>
           <td class="row d-flex align-items-center justify-content-center flex-wrap">
             <a th:href="@{/updateinstitution/{id}/(id=${insitution.getId()})}"
                class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
             <a th:href="@{/delete/{id}/(id=${insitution.getId()})}"
                class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
           </td>
         </tr>
         </tbody>
       </table>
     </div>

<!--     <section id="help" class="help">-->
<!--       <h2>Panel Zarządzania Organizacjami</h2>-->

<!--       &lt;!&ndash; SLIDE 1 &ndash;&gt;-->
<!--       <div class="help&#45;&#45;slides active" data-id="1">-->
<!--         <p><a th:href="@{/addinstitution}" class="btn&#45;&#45;highlighted">Dodaj Nową Organizację</a></p>-->

<!--         <ul class="help&#45;&#45;slides-items" th:each="insitution, stat: ${institutionAll}">-->
<!--           <li>-->
<!--             <div class="container">-->
<!--               <h2 th:text="${insitution.name}"></h2>-->
<!--               <h3 th:text="${insitution.description}"></h3>-->
<!--               <div><a th:href="@{/updateinstitution/{id}/(id=${insitution.getId()})}"-->
<!--                       class="btn">Edytuj</a>-->
<!--                    <a th:href="@{/delete/{id}/(id=${insitution.getId()})}"-->
<!--                       class="btn">Usuń</a></div>-->
<!--             </div>-->
<!--           </li>-->
<!--         </ul>-->
<!--       </div>-->

<!--     </section>-->

    <footer th:insert="fragments :: footer"></footer>
    <script th:insert="fragments :: script"></script>


  </body>
</html>
