<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
    <section class="login-page">
      <h2>Załóż konto</h2>
      <form th:object="${user}" th:action="@{/register}" th:method="post">
        <div class="form-group">
          <input type="email"  name="userEmail" placeholder="Email" th:field="*{userEmail}" />
        </div>
        <div class="form-group">
          <input type="text" name="userName" placeholder="Imię" th:value="*{userName}" />
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" placeholder="Hasło" th:value="*{password}"/>
        </div>
        <div class="form-group">
          <label>
          <input type="password" id="password2" name="password2" placeholder="Powtórz hasło" />
          <div class="subtitle">[[${message}]]</div>
          </label>
        </div>

        <div class="form-group form-group--buttons">
          <a href="login.html" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>

    <footer th:replace="fragments :: footer"></footer>

    <script th:replace="fragments :: script"></script>
</body>
</html>